<div class="dashboard-content-one" data-select2-id="27">
  <!-- Breadcubs Area Start Here -->
  <div class="breadcrumbs-area">
    <h3>Account Setting</h3>
    <ul>
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>Setting</li>
    </ul>
  </div>
  <!-- Breadcubs Area End Here -->
  <!-- Account Settings Area Start Here -->
  <div class="row" data-select2-id="26">
    <div class="col-4-xxxl col-xl-5">
      <div class="card account-settings-box height-auto">
        <div class="card-body">
          <div class="heading-layout1 mg-b-20">
            <div class="item-title">
              <h3>All User</h3>
            </div>
            <div class="dropdown">
              <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">...</a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
              </div>
            </div>
          </div>
          <% User.all.each do |user|  %>
            <a href="<%= users_path(selected_user: user.id) %>">
              <div class="all-user-box">
                <div class="media media-none--xs active">
                  <div class="item-img" >
                    <img src="/img/figure/user1.jpg" class="media-img-auto" alt="user">
                  </div>
                  <div class="media-body space-md">
                    <h5 class="item-title">
                      <td><%= user.name %></td>
                    </h5>
                    <div class="item-subtitle"><%= user.role.name %></div>
                  </div>
                </div>
              </div>
              <a>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-8-xxxl col-xl-7">
          <% if @select_user.present? || @current_user.present? %>
            <div class="card account-settings-box">
              <div class="card-body">
                <div class="heading-layout1 mg-b-20">
                  <div class="item-title">
                    <h3>User Details</h3>
                  </div>
                  <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">...</a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                      <a class="dropdown-item" href="<%= edit_user_path(@select_user.id) %>"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                      <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                    </div>
                  </div>
                </div>
                <div class="user-details-box">
                  <div class="item-img">
                    <img src="/img/figure/user.jpg" alt="user">
                  </div>
                  <div class="item-content">
                    <div class="info-table table-responsive">
                      <table class="table text-nowrap">
                        <tbody>
                          <tr>
                            <td>Name:</td>
                            <td class="font-medium text-dark-medium"><%= @select_user.name %></td>
                          </tr>
                          <tr>
                            <td>User Type:</td>
                            <td class="font-medium text-dark-medium"><%= @select_user.role.name %></td>
                          </tr>
                          <tr>
                            <td>Gender:</td>
                            <td class="font-medium text-dark-medium"><%= @select_user.gender %></td>
                          </tr>
                          <tr>
                            <td>Father Name:</td>
                            <td class="font-medium text-dark-medium">Steve Jones</td>
                          </tr>
                          <tr>
                            <td>Mother Name:</td>
                            <td class="font-medium text-dark-medium">Naomi Rose</td>
                          </tr>
                          <tr>
                            <td>Date Of Birth:</td>
                            <td class="font-medium text-dark-medium">07.08.2016</td>
                          </tr>
                          <tr>
                            <td>Religion:</td>
                            <td class="font-medium text-dark-medium"><%= @select_user.religion %></td>
                          </tr>
                          <tr>
                            <td>Joining Date:</td>
                            <td class="font-medium text-dark-medium">07.08.2016</td>
                          </tr>
                          <tr>
                            <td>E-mail:</td>
                            <td class="font-medium text-dark-medium">stevenjohnson@gmail.com</td>
                          </tr>
                          <tr>
                            <td>Subject:</td>
                            <td class="font-medium text-dark-medium">English</td>
                          </tr>
                          <tr>
                            <td>Class:</td>
                            <td class="font-medium text-dark-medium">2</td>
                          </tr>
                          <tr>
                            <td>Section:</td>
                            <td class="font-medium text-dark-medium">Pink</td>
                          </tr>
                          <tr>
                            <td>ID No:</td>
                            <td class="font-medium text-dark-medium">10005</td>
                          </tr>
                          <tr>
                            <td>Address:</td>
                            <td class="font-medium text-dark-medium">House #10, Road #6, Australia</td>
                          </tr>
                          <tr>
                            <td>Phone:</td>
                            <td class="font-medium text-dark-medium">+ 88 98568888418</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- Account Settings Area End Here -->
</div>
