<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SCHOOLS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="/image/x-icon" href="/img/logo_school.png">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/css/all.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="/fonts/flaticon.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/css/animate.min.css">
    <!-- Select 2 CSS -->
    <link rel="stylesheet" href="/css/select2.min.css">
    <!-- Date Picker CSS -->
    <link rel="stylesheet" href="/css/datepicker.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Modernize js -->
    <script src="/js/modernizr-3.6.0.min.js"></script>
  </head>
  <body>
    <!-- Preloader Start Here -->
    <!-- Preloader End Here -->
    <div id="wrapper" class="wrapper bg-ash">
      <!-- Header Menu Area Start Here -->
      <%= render "home/header" unless current_page?(login_path) || current_page?(new_user_path) %>
      <!-- Header Menu Area End Here -->
      <!-- Page Area Start Here -->
      <div class="dashboard-page-one">
        <!-- Sidebar Area Start Here -->
        <%= render "home/sidebar" unless current_page?(login_path) || current_page?(new_user_path) %>
        <!-- Sidebar Area End Here -->
        <div class="dashboard-content-one">
          <% flash.each do |type, message| %>
            <div class="alert alert-primary" role="alert">
              <span class="type-message">notice :</span><%= message %>
            </div>
          <% end %>
          <!-- Breadcubs Area End Here -->
          <!-- Add Class Area Start Here -->
          <%= yield %>
          <!-- Add Class Area End Here -->
          <%= render "home/footer" unless current_page?(login_path) || current_page?(new_user_path) %>
        </div>
      </div>
      <!-- Page Area End Here -->
    </div>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <!-- Plugins js -->
    <script src="/js/plugins.js"></script>
    <!-- Popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Select 2 Js -->
    <script src="/js/select2.min.js"></script>
    <!-- Date Picker Js -->
    <script src="/js/datepicker.min.js"></script>
    <!-- Scroll Up Js -->
    <script src="/js/jquery.scrollUp.min.js"></script>
    <!-- Custom Js -->
    <script src="/js/main.js"></script>
  </body>
</html>
